---
title: About Us
component: ContentPage
---
p.
  "COS is a non-profit technology company providing free and open services to increase inclusivity and transparency of research. COS supports shifting incentives and practices to align more closely with scientific values.
p.
  The purpose of this appliation is to create a way for researchers to collaborate on their work and serve as a tool that takes advantage of transparency to foster the scientific community.
