---
title: COS Research
component: ContentPage
---
div.row
  div.col-sm-4
    h3 Physics
    dl
      dt <a className="Navigation-link" href="/physics" onClick={Link.handleClick}>Articles</a>
      dd List of articles for Physics
  div.col-sm-4
    h3 Psychology
    dl
      dt <a className="Navigation-link" href="/psychology" onClick={Link.handleClick}>Articles</a>
      dd List of articles for Psychology
  div.col-sm-4
  div.col-sm-4
    h3 Computer Science
    dl
      dt <a className="Navigation-link" href="/cs" onClick={Link.handleClick}>Articles</a>
      dd List of articles for Psychology
