---
title: COS Research
component: ContentPage
---
div.row
  div.col-sm-4
    h3 Physics
    dl
      dt <a className="Navigation-link" href="/physics" onClick={Link.handleClick}>Articles</a>
      dd List of articles for Physics
  div.col-sm-4
    h3 Psychology
    dl
      dt <a href="http://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
  div.col-sm-4
    h3 Mathematics
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>

  div.col-sm-4
    h3 Computer Science
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>

  div.col-sm-4
    h3 Biology
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>
